<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style/style.css}">
    <style>
    </style>
    <title>Categories</title>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigationFromBootstrap">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Персональний фінансовий менеджер</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
<!--                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                Громадянам-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                                <li><a class="dropdown-item" href="#">Список справ призначених до розгляду</a></li>-->
<!--                            </ul>-->
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Пошук</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="headerOneLine">
            <b>Категорії витрат</b>
        </div>

        <div id="statusMessage" th:if=""></div>

        <div class="tableWithData">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height: 100%">
                <div class="carousel-inner" id="dataTableAndCarousel" style="height: 100%">

                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label for="categoryName">Name</label>
                            <input type="text" id="categoryName">
                            <br>
                            <label for="categoryDescription">Description</label>
                            <textarea id="categoryDescription"></textarea>
                        </form>
<!--                        <form>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="recipient-name" class="col-form-label">Recipient:</label>-->
<!--                                <input type="text" class="form-control" id="recipient-name">-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="message-text" class="col-form-label">Message:</label>-->
<!--                                <textarea class="form-control" id="message-text"></textarea>-->
<!--                            </div>-->
<!--                        </form>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="updateCategory">Update Category</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="addressAndSite">

            </div>
            <div class="linkToEmail">
                E-mail:
                <a href="#">volodyaromanyuk@gmail.com</a>
            </div>
        </div>

    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<script th:src="@{js/script.js}"></script>
</html>